
/* responsive queres for Mobile-devices  */

@media screen and (max-width: 576px){
    body{
        background-color: #fff;
    }

    .header-container {
        flex-direction: column;
        justify-content: center;
      
    }

    .menu-box ul{
        flex-direction: column;
        margin-top: 18px;
        justify-content: center;
        
    }
    .menu-box ul li{
        text-align: center;
        width: 100%;
        margin:15px auto;  
             
    }
    .menu-box ul .follow-icon{
    text-align: center;
    width: 100%;
    margin: 10px auto;
   
  }
  /* banner-styles  */
  .banner-container{
  flex-direction: column-reverse;
  gap:30px;
  max-width: 576px;
  text-align: center;
}
.banner-text{
   max-width: 100%;
   margin: 0px auto; 
   margin-top: 90px;
   padding: 90px 30px;
   text-align: center;
}

.primary-btn{
    margin: 0px 20px 20px 20px;
 }

.banner-img img{
  max-width: 100%;
}
.second-banner-conainer{
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;
}
.image-box img{
    width: 100%;
 }
 .second-banner-textbox{
    text-align: center;
    margin-bottom: 10px;
    padding: 0 20px;
 }
 .dexciption-below{
    text-align: center;

}
.desciption{
    font-size: .5rem;
}

/* online-games-card- */
.games-card-container{
    flex-direction: column;
    text-align: center;
}
.card{
    margin-bottom: 70px;
}

/* third-banner-section  */
.third-banner-container{
    flex-direction: column;
    gap: 0;
    text-align: center;
}
.image-div img{
    width: 70%;
}

.positon-image {
    width: 100px;
    position: relative;
    top: -65px;
    left: 110px;
}
.text-div{
    margin: 0 45px;
}

/* catergory-section  */
.cetargory-container{
   display: grid;
   grid-template-columns: auto auto auto;
  flex-wrap: wrap;
   max-width: 100%;
  }
  .cetargory-container1{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    flex-wrap: wrap;
  }
  .catagory{
    width: 20px;
  }
  .catergory-icon{
    width: 20px;
   }
 



}
/* responsive queres for Tablet-devices  */
@media screen and (min-width:576px) and (max-width:960px) {
    .header-container {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
    .menu-box ul li{
        text-align: center;
        display: flex;
        justify-content: center; 
             
    }
    .menu-box ul .follow-icon{
        margin: 0;
    }
    .banner-container{
        flex-direction: column-reverse;
       
    }
    .banner-text{
        margin-top: 90px;
    }
    .second-banner-conainer{
        flex-direction: column;
        gap: 40px;
    }
    .second-banner-textbox{
        text-align: center;
        margin-bottom: 10px;
     }
     .dexciption-below{
        text-align: center;
    }
    .image-box img{
        width: 500px;
     }

     /* games-card-container */
.games-card-container{
    flex-direction: column;
    text-align: center;
}
.card{
    margin-bottom: 70px;
}

/* third-banner-section  */
.third-banner-container{
    flex-direction: column;
    gap: 0;
    text-align: center;
}
.image-div img{
    width: 70%;
}

.positon-image {
    width: 100px;
    position: relative;
    top: -70px;
    left:220px

}
}