@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,900&family=Work+Sans:wght@200;400;500;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}


/* header-section-stayles  */

nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px;
}

.logo-box {
    display: flex;
    align-items: center;

}

.footer-logo, .logo-box p {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 12px;
}

.g {
    color: #FF42A5;
}

.menu-box ul {
    display: flex;
    align-items: center;
}

.menu-box ul li,
a {
    list-style: none;
    color: #3C354F;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    
}
.menu-box ul li{
    margin-right: 50px;
}
.follow-icon{
    display: flex;
    align-items: center;
    padding: 9px 13px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.follow-icon>span{
    margin-left: 10px;
}

/* banner-section-styles  */
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("./images/Vector\ 2.png"),linear-gradient(223deg, rgba(140, 87, 238, 0.199) 0%, rgba(241, 68, 174, 0.03) 100%);;
    background-repeat: no-repeat;
    padding-top: 130px;
    padding-bottom: 30px;

}

.banner-text>h2{
    font-size: 2rem;
    color: #0B0223;
    font-weight: 600;
    text-transform: uppercase;

}
.banner-text>h1{
    font-size: 3.75;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

.icon-text { 
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .icon {
    vertical-align: middle;
    width: 22px;
    height: 22px;
  }
  
  .text {
    vertical-align: middle;
    font-size: 1.1rem;
    color: #534C64;
  }
  .primary-btn{
    border-radius: 48px;
    color: #FFF;
    background:#FF42A5;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 40px;
    cursor: pointer;
 }
 .snd-btn{
    background-color: #4EC5F7;
    margin-left: 20px;
 }
.banner-btn{
    margin-top: 37px;
}

/* second-banner  */
.second-banner-conainer{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.image-box img{
   width: 700px;
}

.title{
    font-size: 2rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.second-banner-textbox{
    text-align: center;
}
.description{
    font-size: 1rem;
    color: #534C64;
    line-height: 25px;
    margin-top: 23px;
    margin-bottom: 23px;
   
}
.dexciption-below span{
    font-weight: 400;
    font-size: .9rem;
    text-align: left;
}

.dexciption-below{
    margin-top: 20px;
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: right;
}

/* online-games-card- */

.games-card-container{
    max-width: 1400px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
}
.title-card ,.description{
    text-align: center;
}
.title-color{
    color: #0B0223;
    font-size: 2rem;
}
.card img{
    width: 280px;
}
.hover-div{
    width: 300px;
    height: 328px;
    position: relative;
    margin: 0 auto;
    
}

.hover-div img{
   height: 100%;
   width: 100%;
}
.inner-div{
    position: absolute;
    top: 0%;
    left: 0%;
    color: white;
    height: 0;
    width: 0;
    text-align: center;
    background: #00000042;
    visibility: hidden;
    opacity: 0;

 }

 .hover-div:hover .inner-div{
     height: 100%;
     width: 100%;
     visibility: visible;
     opacity: 1; 
 
 }
 .inner-div img{
   width: 50px;
}
.inner-div>h1{
   margin-top: -120px;
}


/* third-banner-section  */
.third-banner-container{
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 120px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.image-div img{
    width: 100%;
}

.positon-image {
   position: relative;
   top: 215px;
   right: 165px;
   width: 240px;
}
.title-third-banner{
    text-align: left;
    font-size: 3rem;
    line-height: 33px;
}
.third-banner-description{
    text-align: left;
    font-size: 1.1rem;
    color: #534C64;
    margin-top: 20px;
    line-height: 26px;
}

/* Games-category  */

.cetargory-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.cetargory-container1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: center;
}
.hover-div {
    margin: 0;
}

.catagory{
    width: 275px;
    height: auto;
    margin: 0;
    text-align: center;
    border-radius: 50px;
    padding: 12px 8px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #0B0223;
    font-weight: 600;
    border: 1px solid rgba(173, 170, 170, 0.233);
}
.catergory-icon{
    vertical-align: middle;
    margin-left: 5px;
}

.catergory-icon{
 width: 40px;
}
.catagory:hover{
    color: #F948B2;
    cursor: pointer;
    border:1px solid #F948B2;
}










/* footer-section */
.footer-container{
    background-color: #0B0223;
    padding: 100px 100px 50px 100px;
}
.footer-logo{
   text-align: center;
   display: flex;
   justify-content: center;
  
}
.important-link ul{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 80px;
}
.important-link ul li a{
   color: #FFFFFF;
   font-weight: 500;
   font-size: 1rem;
}
.footer-logo>p{
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 12px;
    color: #FFF;

}

/* social-link--list */
.social-link{
    text-align: center;
    margin-top: 100px;
}
.social-link img{
    width: 35px;
    margin-left: 70px;
    
}
.terms-condtion ul{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
   
}
.terms-condtion ul li a{
    color: rgba(255, 255, 255, 0.60);
    font-size: .9rem;
}
.copyright>p{
    color: rgba(255, 255, 255, 0.60);
   font-size: .9rem;
   text-align: center;
   margin-top: 60px;
}